# Credit Card Fraud Data Cleaning

In [182]:
import pandas as pd

In [183]:
df = pd.read_csv(r"C:\Users\Hp\Documents\jobs\Annie Jobs\Elizabeth Job\Fraud Detection\archive (1)\fraudTest.csv")
print(df.head())

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2020-06-21 12:14:25  2291163933867244
1           1   2020-06-21 12:14:33  3573030041201292
2           2   2020-06-21 12:14:53  3598215285024754
3           3   2020-06-21 12:15:15  3591919803438423
4           4   2020-06-21 12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last gender                       street  ...      lat      long  \
0   Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1  Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2     Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3  Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4    Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170

   city_pop                     job         dob  \
0    333497     Mechanical engineer  1968-03-19
1       302  Sales professional, IT  1990-01-17
2     34496       Librarian, public  1970-10-21
3     54767            Set designer  1987-07-25
4      1126      Furniture designer  1955-07-06

                          trans_num   unix_time  merch_lat  merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]

Checking for duplicates

In [184]:
df.drop_duplicates()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

Dropping the unnamed column

In [185]:
# Dropping the unnamed column

if 'Unnamed: 0' in df.columns:
    df.drop(columns=['Unnamed: 0'])
    df = df.drop(columns=['Unnamed: 0'])

In [186]:
#Check for duplicate rows

duplicates = df.duplicated().sum()
print(df.duplicated().sum())

0

In [187]:
#Check for missing values

print("Missing Values:")
print(df.isnull().sum())

Missing Values:
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [188]:
#Check for unique values in gender

print("Unique Values in 'gender':")
print(df['gender'].unique())

Unique Values in 'gender':
['M' 'F']

In [189]:
#Check for unique values 'is_fraud column'

print("Unique Values in 'is_fraud':")
print(df['is_fraud'].unique())

Unique Values in 'is_fraud':
[0 1]

In [190]:
# Standardize the date format

df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
df['dob'] = pd.to_datetime(df['dob'], format='%Y-%m-%d', errors='coerce')

print(df['trans_date_trans_time'].head())

0   2020-06-21 12:14:25
1   2020-06-21 12:14:33
2   2020-06-21 12:14:53
3   2020-06-21 12:15:15
4   2020-06-21 12:15:17
Name: trans_date_trans_time, dtype: datetime64[ns]

In [191]:
# Separating the date and time into new columns

df['trans_date'] = df['trans_date_trans_time'].dt.date
df['trans_time'] = df['trans_date_trans_time'].dt.time

In [192]:
# Create new columns for date and time

df['date_of_birth'] = df['dob'].dt.date

In [193]:
# Drop the original 'trans_date_trans_time' column

df.drop(columns=['trans_date_trans_time'], inplace=True)

In [194]:
# Drop the original 'dob' column

df.drop(columns=['dob'], inplace=True)

print(df.head())

             cc_num                              merchant        category  \
0  2291163933867244                 fraud_Kirlin and Sons   personal_care
1  3573030041201292                  fraud_Sporer-Keebler   personal_care
2  3598215285024754  fraud_Swaniawski, Nitzsche and Welch  health_fitness
3  3591919803438423                     fraud_Haley Group        misc_pos
4  3526826139003047                 fraud_Johnston-Casper          travel

     amt   first      last gender                       street        city  \
0   2.86    Jeff   Elliott      M            351 Darlene Green    Columbia
1  29.84  Joanne  Williams      F             3638 Marsh Union     Altonah
2  41.28  Ashley     Lopez      F         9333 Valentine Point    Bellmore
3  60.05   Brian  Williams      M  32941 Krystal Mill Apt. 552  Titusville
4   3.19  Nathan    Massey      M     5783 Evan Roads Apt. 465    Falmouth

  state  ...  city_pop                     job  \
0    SC  ...    333497     Mechanical engineer
1    UT  ...       302  Sales professional, IT
2    NY  ...     34496       Librarian, public
3    FL  ...     54767            Set designer
4    MI  ...      1126      Furniture designer

                          trans_num   unix_time  merch_lat  merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734

   is_fraud  trans_date  trans_time  date_of_birth
0         0  2020-06-21    12:14:25     1968-03-19
1         0  2020-06-21    12:14:33     1990-01-17
2         0  2020-06-21    12:14:53     1970-10-21
3         0  2020-06-21    12:15:15     1987-07-25
4         0  2020-06-21    12:15:17     1955-07-06

[5 rows x 23 columns]

In [171]:
# Rearrange the column order

new_column_order = [
    'trans_date',
    'trans_time',
    'cc_num',
    'merchant',
    'category',
    'amt',
    'first',        
    'last',         
    'date_of_birth',
    'gender',
    'street',
    'city',
    'state',
    'city_pop',
    'job',
    'trans_num',
    'unix_time',
    'merch_lat',
    'merch_long',
    'is_fraud'
]

# Reorder the DataFrame columns
df = df[new_column_order]

In [174]:
print(df.head())

   trans_date trans_time            cc_num  \
0  2020-06-21   12:14:25  2291163933867244
1  2020-06-21   12:14:33  3573030041201292
2  2020-06-21   12:14:53  3598215285024754
3  2020-06-21   12:15:15  3591919803438423
4  2020-06-21   12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last date_of_birth gender                       street        city  \
0   Elliott    1968-03-19      M            351 Darlene Green    Columbia
1  Williams    1990-01-17      F             3638 Marsh Union     Altonah
2     Lopez    1970-10-21      F         9333 Valentine Point    Bellmore
3  Williams    1987-07-25      M  32941 Krystal Mill Apt. 552  Titusville
4    Massey    1955-07-06      M     5783 Evan Roads Apt. 465    Falmouth

  state  city_pop                     job                         trans_num  \
0    SC    333497     Mechanical engineer  2da90c7d74bd46a0caf3777415b3ebd3
1    UT       302  Sales professional, IT  324cc204407e99f51b0d6ca0055005e7
2    NY     34496       Librarian, public  c81755dbbbea9d5c77f094348a7579be
3    FL     54767            Set designer  2159175b9efe66dc301f149d3d5abf8c
4    MI      1126      Furniture designer  57ff021bd3f328f8738bb535c302a31b

    unix_time  merch_lat  merch_long  is_fraud
0  1371816865  33.986391  -81.200714         0
1  1371816873  39.450498 -109.960431         0
2  1371816893  40.495810  -74.196111         0
3  1371816915  28.812398  -80.883061         0
4  1371816917  44.959148  -85.884734         0

In [175]:
# Export the cleaned data

df.to_csv(r"C:\Users\Hp\Documents\jobs\Annie Jobs\Elizabeth Job\Fraud Detection\archive (1)\fraudTest_cleaned.csv", index = False)